<div class="left-section">
    <div class="logo-container">
        <a href="./summary.html"><img class="left-section-logo"
                src="./assets/img/favicon/JOIN-logo-white.png" alt="Join Logo"></a>
        <!--back to summary html-->
    </div>
    <div class="menu">
        <div class="menu-choice">
            <div class="menu-container">
                <a href="./summary.html"><img src="./assets/img/icons/summary.png" alt="Summary">Summary</a>
                <!--Summary html-->
            </div>
        </div>
        <div class="menu-choice">
            <div class="menu-container">
                <a href="./add_task.html"><img src=" ./assets/img/icons/add_task.png" alt="Add Task">Add
                    Task</a>
                <!--Add Task html-->
            </div>
        </div>
        <div class="menu-choice">
            <div class="menu-container">
                <a href="./board.html"><img src="./assets/img/icons/board.png" alt="Board">Board</a>
                <!--Board html-->
            </div>
        </div>
        <div class="menu-choice">
            <div class="menu-container">
                <a href="./contacts.html"><img src="./assets/img/icons/contacts.png"
                        alt="Contacts">Contacts</a>
                <!--Contacts html-->
            </div>
        </div>
    </div>
    <div class="imprint">
        <div class="menu-choice">
            <div class="menu-container">
                <a class="imprint-link" href="./privacy_policy.html">Privacy Policy</a>
                <!--privacy policy html-->
            </div>
        </div>
        <div class="menu-choice">
            <div class="menu-container">
                <a class="imprint-link" href="./legal_notice.html">Legal notice</a>
                <!--legal notice html-->
            </div>
        </div>
    </div>
</div>